@mixin flexWrapper() {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

body::-webkit-scrollbar {  width: 0px;}
:root {  scrollbar-width: none !important;}

main > div{
    min-height: 100vh;
    & > h1{
        font-size: 40pt;
        margin: 0;
        text-align: center;
        padding-top: 10vh;
        padding-bottom: 10vh;
        text-decoration: underline;
    }
}

#about {
    background-color: rgb(106, 195, 236);
}

#portfolio{
    background-color: lightgrey;
    height: auto;
}

#footer {
    margin: 6vh 0 0 0;
    padding:2vh;
    display: flex;
    justify-content: space-around;
    min-height: auto;
    background-color: lightblue;
    img {
        width: 20%;
    }

    div{
        text-align: center;
        width: 20%;
    }
}

.intro{
    @include flexWrapper();
    color: white;
    height: 100vh;
}

.about{
    @include flexWrapper();
    height: 60vh;
    & > div{
        width: 30%;
        text-align: center;
        padding: 5%;
        padding-left: 10%;
        @media screen and (max-width: 765px) {
            width: 60%;
            padding:0;
        }
    }
    p {
        text-align: left;
    }
}

.portfolio{
    height: auto;
}



.portfolio-holder {
    @include flexWrapper();
    padding-left: 10%;
    & > div {
        margin: 20px;
        width: 40%;
        display: inline-block;
        @media screen and (max-width: 790px) {
            width: 60%;
        }
        
        img {
            width: 100%;
            max-height: 35vh;
        }
    }

    @media screen and (max-width: 790px) {
        padding-left: 0;
    }
}

.blog{
    @include flexWrapper();
    & > div {
        border: 1px solid black;
        width: 25%;
        padding: 3% 5% 2% 5%;
        display: inline-block;
        @media screen and (max-width: 1069px) {
            width: 60%;
        }

        @media screen and (min-width: 1900px) {
            width: 20%;
            padding: 3% 3% 0 3%;
        }

        img {
            width: 100%;
            height: 23vh;
            overflow: hidden;
            @media screen and (max-width: 1069px) {
                height: auto;
            }
        }

        h3 {
            height: 7vh;
            @media screen and (max-width: 1069px){
                height: auto;
            }
        }
    }

    .category {
        height: 7vh;
    }

    a {
        text-decoration: none;
        color: black;
    }
}

.single-blog {
    border: 1px solid black;
}